<section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="assets/img/about-img.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1">
            <h3>{{ sobrenos.missao }}.</h3>
            <p class="fst-italic">
              {{ sobrenos.visao }}
            </p>
            <ul>

              {% for v in valores %}
              <li><i class="bi bi-check2-circle"></i> {{ v }}.</li>
              {% endfor %}
            </ul>
            <p>
              {{ sobrenos.descricao }}
            </p>
          </div>
        </div>

      </div>
    </section>