<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Teia Org - {% block title %}{% endblock %}
    </title>

    {% load bootstrap5 %}

    {% bootstrap_css %}

    {% bootstrap_javascript %}

    {% bootstrap_messages %}

     <link rel="stylesheet" href="/static/assets/css/style.css">
    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}

</head>

<body>
    {% load bootstrap5 %}




    {% block content %}{% endblock content %}


    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

</body>
</html>

