{% if organizacao.id == None %}
                        <div class="row justify-content-center">
                            <p class="d-inline-block text-truncate font-weight-bold m float-right">
                                Registo nao encontrado. Crie
                                <a href="{% url 'org_register' %}">aqui</a>
                            </p>

                        </div>
                        {% else %}
                        {% if not organizacao.nuit == None %}
                        <div class="row justify-content-center">
                            <div class="col-sm-6">
                                <span class="d-inline-block text-truncate font-weight-bold m float-right "
                                      style="max-width: 150px;">
                                  NUIT:
                                </span>
                            </div>
                            <div class="col-sm-6">
                                <p class="font-weight-normal">{{ organizacao.nuit }}</p>
                            </div>
                        </div>
                        {% endif %}

                        {% if not organizacao.nome == None %}
                        <div class="row justify-content-center">
                            <div class="col-sm-6">
                                <span class="d-inline-block text-truncate font-weight-bold m float-right "
                                      style="max-width: 150px;">
                                  Nome:
                                </span>
                            </div>
                            <div class="col-sm-6">
                                <p class="font-weight-normal">{{ organizacao.nome }}</p>
                            </div>
                        </div>
                        {% endif %}

                        {% if not organizacao.abreviatura == '' %}
                        <div class="row justify-content-center">
                            <div class="col-sm-6">
                                <span class="d-inline-block text-truncate font-weight-bold m float-right "
                                      style="max-width: 150px;">
                                  Abreviatura:
                                </span>
                            </div>
                            <div class="col-sm-6">
                                <p class="font-weight-normal">{{ organizacao.abreviatura }}</p>
                            </div>
                        </div>
                        {% endif %}

                        {% if not organizacao.descricao == '' %}
                        <div class="row justify-content-center">
                            <div class="col-sm-6">
                                <span class="d-inline-block text-truncate font-weight-bold m float-right "
                                      style="max-width: 150px;">
                                  Descricao:
                                </span>
                            </div>
                            <div class="col-sm-6">
                                <p class="font-weight-normal">{{ organizacao.descricao }}</p>
                            </div>
                        </div>
                        {% endif %}

                        {% if not organizacao.tipo_organizacao == None %}
                        <div class="row justify-content-center">
                            <div class="col-sm-6">
                                <span class="d-inline-block text-truncate font-weight-bold m float-right "
                                      style="max-width: 150px;">
                                  Tipo de Organizacao:
                                </span>
                            </div>
                            <div class="col-sm-6">
                                <p class="font-weight-normal">{{ organizacao.tipo_organizacao }}</p>
                            </div>
                        </div>
                        {% endif %}

                        {% if not organizacao.data_constituicao == None %}
                        <div class="row justify-content-center">
                            <div class="col-sm-6">
                                <span class="d-inline-block text-truncate font-weight-bold m float-right "
                                      style="max-width: 150px;">
                                  Data da Constituicao:
                                </span>
                            </div>
                            <div class="col-sm-6">
                                <p class="font-weight-normal">{{ organizacao.data_constituicao|date:"M d, Y"  }}</p>
                            </div>
                        </div>
                        {% endif %}

                        {% if not organizacao.data_publicacao == None %}
                        <div class="row justify-content-center">
                            <div class="col-sm-6">
                                <span class="d-inline-block text-truncate font-weight-bold m float-right "
                                      style="max-width: 150px;">
                                  Data da Publicacao:
                                </span>
                            </div>
                            <div class="col-sm-6">
                                <p class="font-weight-normal">{{ organizacao.data_publicacao|date:"M d, Y"  }}</p>
                            </div>
                        </div>
                        {% endif %}

                        {% if not organizacao.numero_br == '' %}
                        <div class="row justify-content-center">
                            <div class="col-sm-6">
                                <span class="d-inline-block text-truncate font-weight-bold m float-right "
                                      style="max-width: 150px;">
                                  Numero do BR:
                                </span>
                            </div>
                            <div class="col-sm-6">
                                <p class="font-weight-normal">{{ organizacao.numero_br }}</p>
                            </div>
                        </div>
                        {% endif %}

                        <div class="row justify-content-center">
                            <a href="{% url 'org_edit' organizacao.id  %}" class="nav-link btn btn-info float-right">
                                                    <span class="pcoded-micon">
                                                        <i class="feather icon-edit"></i></span>
                                <span class="pcoded-mtext">Editar</span>
                            </a>

                        </div>

                        {% endif %}