{% extends "layouts/base.html" %}

{% block title %} Perfil {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<section class="pcoded-content ">
    <div class="pcoded-inner-content">

        <!--  Cabecalho  -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Organizacao</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Organizacao</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Detalhes</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--  Conteudo -->
        <div class="main-body">
            <div class="page-wrapper">

                <div class="row">
                    <div class="col-sm-12">

                        <div class="row">
                            <nav class="navbar bg-light">
                                <form class="container-fluid justify-content-start">
                                    <button class="btn btn-outline-success me-2" type="button">Cotas</button>
                                    <button class="btn btn-outline-success me-2" type="button">Cotas</button>
                                    <button class="btn btn-outline-success me-2" type="button">Cotas</button>
                                    <button class="btn btn-sm btn-outline-secondary" type="button">Projectos</button>
                                    <button class="btn btn-sm btn-outline-secondary" type="button">Projectos</button>
                                    <button class="btn btn-sm btn-outline-secondary" type="button">Projectos</button>
                                </form>
                            </nav>
                        </div>

                        <hr/>

                        {% include '_details.html' %}

                    </div>
                </div>
            </div>


        </div>

    </div>

</section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


{% endblock javascripts %}

