{% load bootstrap5 %}

{% block content %}
    <div class="container">
        <div class="row my-5">
            <div class="col-md-12">
                <form method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                        {% if  skip  is not None %}
                            <a href="{% url 'address_register' %}">{{ skip }}</a>
                        {% endif %}
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}